<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="documentForm" (ngSubmit)="onSubmit()">

      <div class="row">
        <div class="col-xs-12">
          <form [formGroup]="typeForm">
            <div class="radio" *ngFor="let type of types">
              <label>
                <input type="radio" formControlName="type" [value]="type">{{type}}
              </label>
            </div>
            <button type="button" class="btn btn-primary" (click)="generatePdf()">Generate PDF</button>
          </form>
        </div>
      </div>
      
      <!-- <a class="btn btn-primary" (click)="onAnimate()">Animate!</a>
      <hr>
      <div
        style="width: 100px; height: 100px"
        [@divState]="state"
        (@divState.start)="animationStarted($event)"
        (@divState.done)="animationEnded($event)">
      </div>
      <br> -->
      <!-- <div
        style="width: 100px; height: 100px"
        [@wildState]="wildState">
      </div> -->

      <hr>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="number">Number</label>
            <input type="text" id="number" formControlName="number" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="date">Date</label>
            <input type="text" id="date" formControlName="date" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <!-- <img [src]="date.value" class="img-responsive"> -->
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="attn">Choose Customer</label>
            <div>
              <select class="form-control" formControlName="attn" #attn (change)="onUpdateCustomer()">
                <option value="">Choose a customer</option>
                <option *ngFor="let item of items; let i = index" [value]="item.attn">{{ item.attn }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="customer">Customer Information</label>
            <textarea class="form-control" formControlName="customer"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="worksite">Worksite</label>
            <textarea type="text" id="worksite" formControlName="worksite" class="form-control"></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <label>Summary of services:</label>
          <div class="row" formGroupName="services">
              <div class="checkbox form-group" *ngFor="let service of services; let i = index">
                <div class="col-xs-3">
                  <label>
                    <input type="checkbox" formControlName="{{service.name}}">{{ service.name | custom }}
                  </label>
                </div>
              </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea type="text" id="description" class="form-control" formControlName="description" rows="6"></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Note</label>
            <input type="text" id="note" class="form-control" formControlName="note">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Price</label>
            <input type="number" id="note" class="form-control" formControlName="price">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="checkbox form-group">
            <label>
              <input type="checkbox" formControlName="tax">Tax Included
            </label>
          </div>
        </div>
      </div>

      <!-- <div class="row">
        <div class="col-xs-12" formArrayName="things">
          <div class="row" *ngFor="let thing of documentForm.get('things').controls; let i = index" [formGroupName]="i" style="margin-top: 10px;">
            <div class="col-xs-10">
              <input type="text" class="form-control" formControlName="aden">
            </div>
            <div class="col-xs-2">
              <button type="button" class="btn btn-danger" (click)="onDeleteThing(i)">X</button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-12">
              <button type="button"class="btn btn-success" (click)="onAddThing()">Add Thing</button>
            </div>
          </div>
        </div>
      </div> -->

      <div class="row">
        <div class="col-xs-12">
          <div class="btn-group">
            <button type="submit" class="btn btn-success">Save</button>
            <button type="button" class="btn btn-primary" (click)="onCancel()">Cancel</button>
            <button type="button" class="btn btn-danger" (click)="onDelete()">Delete</button>
          </div>
        </div>
      </div>

      <hr>

    </form>
  </div>
</div>