<div class="row">
  <div class="col-xs-12">


    <!-- <form [formGroup]="form">
      <input type="radio" formControlName="food" value="beef" > Beef
      <input type="radio" formControlName="food" value="lamb"> Lamb
      <input type="radio" formControlName="food" value="fish"> Fish
    </form>
    <p>Form value: {{ form.value | json }}</p>  -->

    <div class="form-group text-center" [formGroup]="form">
      <!-- <div class="btn-group" data-toggle="buttons" class="col-lg-3 col-lg-offset-10"> -->
        <!-- <label class="btn btn-default"> -->
        <input type="radio" value="Estimate" formControlName="documentType">Estimate
        <!-- <label class="btn btn-default"> -->
        <input type="radio" value="Invoice" formControlName="documentType" checked>Invoice
        <!-- <label class="btn btn-default"> -->
        <input type="radio" value="Contract" formControlName="documentType">Contract
      <!-- </div> -->
    </div>
    <p>Form value: {{ form.value | json }}</p>
    
    <!-- <div class="col-xs-12 btn-group">
        <button type="button" class="btn btn-primary" (click)="generateEstimate()">Estimate</button>
        <button type="button" class="btn btn-primary" (click)="generateEstimate()">Contact</button>
        <button type="button" class="btn btn-primary" (click)="generateEstimate()">Invoice</button>
    </div> -->

    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12 btn-group">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!recipeForm.valid">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
        <div class="col-xs-12">
            <button type="button" class="btn btn-primary" (click)="generatePdf()">Generate PDF</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="number">Number</label>
            <input
              type="text"
              id="number"
              formControlName="number"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="date">Date</label>
            <input type="text" id="date" formControlName="date" class="form-control" #date>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img [src]="date.value" class="img-responsive">
        </div>
      </div>  
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Choose Customer</label>
            <div>
              <select class="form-control" formControlName="attn" #attn>
                <option value="">Choose a customer</option>
                <option *ngFor="let ingredient of ingredients; let i = index" [value]="ingredient.name">{{ ingredient.name }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Customer Information</label>
            <div *ngFor="let ingredient of ingredients; let i = index">
              <textarea class="form-control" formControlName="customer" *ngIf="ingredient.name === attn.value" [value]="ingredient.amount"></textarea>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              type="text"
              id="description"
              class="form-control"
              formControlName="description"
              rows="6"></textarea>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <div
            class="row"
            *ngFor="let ingredientCtrl of recipeForm.get('ingredients').controls; let i = index"
            [formGroupName]="i"
            style="margin-top: 10px;">
            <div class="col-xs-8">
              <input
                type="text"
                class="form-control"
                formControlName="name">
            </div>
            <div class="col-xs-2">
              <input
                type="number"
                class="form-control"
                formControlName="amount">
            </div>
            <div class="col-xs-2">
              <button
                type="button"
                class="btn btn-danger"
                (click)="onDeleteIngredient(i)">X</button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-12">
              <button
                type="button"
                class="btn btn-success"
                (click)="onAddIngredient()">Add Ingredient</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
