
<div class="d-flex w-100 justify-content-md-start justify-content-between">
    <a href="" class="nav-link active d-sm-block d-md-none" (click)="goBack()">Back</a>
    <ul class="nav">
        <a href="" class="nav-link active"  (click)="newGeneratePdf('estimate')">Estimate</a>
        <a href="" class="nav-link active"  (click)="newGeneratePdf('contract')">Contract</a>
        <a href="" class="nav-link active"  (click)="newGeneratePdf('invoice')">Invoice</a>
    </ul>
</div>
<ng-content></ng-content>